html {
    font-family: sans-serif;
}

/* inizio footer */

.flex {
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 166, 0);
    align-items: center;
}

.menu ul {
    list-style: none;
    display: flex;
    column-gap: 10px;
    
}

.menu ul li {
    color: white;
}

/* inizio main */

main {
    padding: 0 10px;
}

.container-80 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-basis: calc( 100 / 3 );
    margin: 20px;
    background-color: red;
    
}


.card {
    
    width: 30%;
    height: 632px;
    text-align: center;
    box-sizing: border-box;
    margin: 20px;
    background-color: white;
    
}
